<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
<listeners>
    <listener class-name = "base.Listeners"/>
    <listener class-name = "org.uncommons.reportng.HTMLReporter"/>
</listeners>
    <test name="Automation Tests">
        <groups>
          <!-- Here you can use <run><include</<exclude> </run> and define groups -->
        </groups>
        <packages>
            <package name="testcases">
                <classes>
                    <!-- Here you can use <run><include</<exclude> </run> and define groups -->
                </classes>
            </package>
        </packages>
    </test>
</suite>